body {
    margin: 0;
}

.container {
    background-color: aliceblue;
    padding: 24px;
    text-align: center;
}

.card1 {
    /* padding: 10px; */
    background-color: #faebd7;
    border-radius: 8px;
    width: 100px;
    margin-right: auto;
    text-align: left;
}

.card2 {
    background-color: #faebd7;
    border-radius: 8px;
    width: 100px;
    margin-left: auto;
    text-align: right;
}

.card3 {
    background-color: antiquewhite;
    border-radius: 8px;
    width: 100px;
    margin-right: auto;
    text-align: left;
}

button {
    padding: 12px 24px;
    background-color: #eda74c;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
}